@import "../vars";

body.page-home {
	#site-main {
		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;

			@include mobile {
				flex-direction: column;
				gap: 15px;

				.ant-btn {
					width: 100%;
				}
			}

			h1 {
				font-size: 32px;
				font-weight: 600;
				margin-bottom: 0;

				@include mobile {
					font-size: 26px;
				}
			}
		}

		.sectors-container {
			margin-top: 30px;

			.ant-collapse {
				display: flex;
				flex-direction: column;
				gap: 10px;
				background-color: none;
				border: none;

				.ant-collapse-item {
					border: 1px solid rgba($primary-color, 0.2);
					border-radius: $border-radius;

					.ant-collapse-header {
						background-color: rgba($primary-color, 0.05);
						font-weight: 500;
					}

					.ant-collapse-content {
						border-color: rgba($primary-color, 0.2);
						border-bottom-left-radius: $border-radius;
						border-bottom-right-radius: $border-radius;

						.ant-collapse-content-box {
							position: relative;
							
							@include mobile_up {
								padding-right: 85px;
							}

							@include mobile {
								padding-bottom: 55px;
							}
						}
					}
				}
			}

			.role-container {
				display: flex;
				gap: 10px;
				flex-wrap: wrap;
	
				&:empty {
					display: none;
				}
	
				.role-item {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 5px 15px;
					border-radius: $border-radius;
					background-color: #fafafa;
					color: $primary-color;
					gap: 10px;
					cursor: pointer;
	
					&:hover {
						background-color: #f5f5f5;
					}
				}
			}

			.action-container {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				position: absolute;
				
				@include mobile_up {
					top: 50%;
					transform: translateY(-50%);
					right: 10px;
				}

				@include mobile {
					bottom: 10px;
					left: 50%;
					transform: translateX(-50%);
				}

				.ant-btn {
					width: 35px;
					min-width: 35px;
					height: 35px;
					min-height: 35px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}