@import "../vars";

body.page-home {
	#site-main {
		header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;

			h1 {
				font-size: 32px;
				font-weight: 600;
			}
		}
	}
}