/* ============================================================================
	Imports
============================================================================ */
// Vars
@import "vars";

// Mixins
@import "mixins/clearfix";
@import "mixins/limit-text";
@import "mixins/media";
@import "mixins/ul-reset";

/* ============================================================================
	Vendor
============================================================================ */
// Util
@import 'vendor/util/helpers';

// AntD
@import '~antd/dist/antd.css';

/* ============================================================================
	Container
============================================================================ */
.container {
	display:flow-root;
	padding-left:$grid-container-padding;
	padding-right:$grid-container-padding;
	margin-left:auto;
	margin-right:auto;
	max-width:$grid-width;
	@include mobile {
		padding-left:$grid-container-padding-mobile;
		padding-right:$grid-container-padding-mobile;
	}
}

.container-full {
	display:flow-root;
	margin-left:auto;
	margin-right:auto;
}

/* ============================================================================
	General
============================================================================ */
#root, body, html {
	min-height:100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family;
	font-variant: normal!important;

	* {
		font-family: $font-family;
		font-variant: normal!important;
	}
}

body {
	-webkit-tap-highlight-color:transparent;
	overflow-anchor:auto;
	@include mobile {
		font-size:14px;
	}
	@include tablet {
		font-size:16px;
	}
}

#root {
	display:flex;
	flex-direction:column;
	position:relative;
}

// Enable native smooth scroll
body,
.smooth-container {
	scroll-behavior:smooth;
}

@include print {
	@page {
		margin:20px;
	}
}

a {
	transition:all linear 100ms;
}

p,
.ant-typography {
	margin-bottom:30px;
	&:last-child {
		margin-bottom:0;
	}
}

// Heading
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
	color:inherit;
}

h1 {
	font-size:36px;
	@include mobile {
		font-size:24px;
	}
	@include tablet {
		font-size:32px;
	}
}

h2 {
	font-size:28px;
	@include mobile {
		font-size:24px;
	}
	@include tablet {
		font-size:26px;
	}
}

h3 {
	font-size:14px;
	@include mobile {
		font-size:14px;
	}
}

// Image
img {
	display:inline-block;
	max-width:100%;
	height:auto;
}

audio, video {
	&:focus {
		outline:none;
	}
}

[class^="icon-loading"] {
	color:$primary-color;
	animation:loadingCircle 1s infinite linear;
}

/* ============================================================================
	Site main
============================================================================ */
#site-main {
	flex:1;
	position:relative;
	padding-top: 80px;
	padding-bottom: 100px;

	@include mobile {
		padding-top: 50px;
		padding-bottom: 80px;
	}
}

/*** Buttons ==================================== */
.ant-btn {
	line-height:1.428; // Fix change font-size button
	font-weight: 500;
	font-size: 16px;
	min-width: 200px;
	height: 60px;
	min-height: 60px;
	border-radius: $border-radius;
	span {
		line-height: 52px;
	}
	i:not(:last-child) {
		padding-right:8px;
		vertical-align:-2px;
	}
	&.ant-btn-sm {
		font-size:12px;
	}
	&.ant-btn-primary {
		background-color: $primary-color;
		border-color: $primary-color;
		color:#fff;
		&:hover {
			background-color:$primary-color-hover;
			border-color:$primary-color-hover;
			color:#fff;
		}
		&[disabled],
		&[disabled]:hover {
			background-color: desaturate($primary-color, 40%);
			border-color: desaturate($primary-color, 40%);
			color:rgba(255, 255, 255, 0.8);
		}
	}
	&.ant-btn-secondary {
		background-color: $secondary-color;
		border-color:$secondary-color;
		color:$primary-color;
		i {
			color:inherit;
			transition:color linear 100ms;
		}
		span, svg path {
			transition: 0.2s;
		}
		&:hover {
			border-color:$secondary-color;
			background-color:$secondary-color;
			color: #fff!important;

			span {
				color: #fff!important;
			}

			svg {
				path {
					fill: #fff!important;
				}
			}
		}
		&[disabled],
		&[disabled]:hover {
			background-color: desaturate($secondary-color, 20%);
			border-color: desaturate($secondary-color, 20%);
			color:rgba($primary-color, 0.9);
		}
	}
	&.btn-outline {
		color:#2c2835;
		border-color:#2c2835;
		&:hover,
		&:focus {
			color:$primary-color;
			border-color:$primary-color;
		}
	}
	&.btn-link {
		color:#939393;
		border-color:transparent;
		background-color:transparent;
		&:hover,
		&:focus {
			color:$primary-color;
			&[disabled] {
				border-color:transparent;
				background-color:transparent;
			}
		}
	}
}

/*** Form ==================================== */
input::placeholder {
	opacity:1;
}

.ant-form-item {
	.ant-input-affix-wrapper {
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		> .ant-input:first-child {
			padding-left:20px;
		}
		.ant-input-suffix {
			margin:0;
		}
	}
	.ant-input-prefix {
		i {
			min-width:40px;
			font-size:16px;
			color:#939393;
			text-align:center;
		}
	}
}

.ant-input,
.ant-input-number,
.ant-select,
.float-label-wrap .float-label {
	font-size:16px;
}

// Fix height
.ant-input {
	height:$form-field-height;
}
.ant-input-password .ant-input {
	height:$form-field-height - ($form-field-border-width * 2);
}
.ant-input-number-input {
	height:$form-field-height - ($form-field-border-width * 2);
}
.ant-input-affix-wrapper {
	.ant-input {
		height:$form-field-height - ($form-field-border-width * 4);
	}
}
.ant-form-item-label > label {
	height:$form-field-height - ($form-field-border-width * 4);
}
.ant-input-search .ant-input-affix-wrapper {
	padding-top:0;
	padding-bottom:0;
	.ant-input {
		height:$form-field-height - ($form-field-border-width * 2);
	}
}
.ant-input-search-button {
	height:$form-field-height - ($form-field-border-width * 2);
}
.ant-form-item-control-input {
	min-height:$form-field-height - ($form-field-border-width * 4);
}

.ant-select-single {
	&:not(.ant-select-customize-input) .ant-select-selector {
		height:$form-field-height;
		.ant-select-selection-search-input {
			height:$form-field-height - ($form-field-border-width * 4);
		}
	}
}

// Fix padding
.ant-input-number-input {
	padding-left:20px;
}

// Disable outline effect
.ant-input,
.ant-input-number,
.ant-select-selector,
.ant-input-affix-wrapper {
	box-shadow:none !important;
}

// Field clear
.ant-input-clear-icon,
.ant-select-clear {
	display:flex;
	align-items:center;
	justify-content:center;
	position:absolute;
	top:50%;
	right:10px;
	margin:0;
	width:24px;
	height:24px;
	font-size:8px;
	color:#b0aaca;
	background:#ccc;
	transform:translateY(-50%);
	border-radius:50%;
	&::before {
		display:block;
		content:'\e921';
		font:400 10px/1 icons;
		color:#fbfbfb;
	}
	svg {
		display:none;
	}
}

// Field clear select
.ant-select-clear {
	right:30px;
}

// Number
.ant-input-number {
	width:100%;
	&:not(:hover):not(:focus) {
		border-color:$form-field-border-color; // fix border color
	}
	.ant-input-number-handler-down {
		border-top-color:#4B4B4B;
	}
}

// Textarea
.ant-input-textarea {
	&.ant-input-textarea-show-count {
		&::after {
			font-size:12px;
		}
	}
}

// Password
.ant-input-password {
	&.input-password-icon-text {
		.ant-input-suffix {
			.ant-input-password-icon {
				position:absolute;
				top:50%;
				right:10px;
				width:30px;
				height:30px;
				line-height:33px;
				font-size:16px;
				color:#b0aaca;
				transform:translateY(-50%);
				@include mobile {
					font-size:14px;
				}
			}
		}
	}
}

// Select
.ant-select {
	color:$form-field-color;
	.ant-select-arrow {
		.anticon.anticon-down {
			&::before {
				display:block;
				content:'\e940';
				font:400 13px/1 icons;
			}
			svg {
				display:none;
			}
		}
	}
	&.ant-select-open {
		.ant-select-selector {
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
			border-bottom-color:transparent;
			.ant-select-selection-item {
				color:$form-field-color;
			}
		}
	}
	&.theme-b {
		.ant-select-selector {
			background:none;
			border:none;
		}
		.ant-select-arrow {
			right:5px;
			margin-top:-4px;
			color:$primary-color;
			.anticon.anticon-down {
				&::before {
					content:'\e949';
					font-size:10px;
				}
			}
		}
	}
}

// Select dropdown
.ant-select-dropdown {
	padding:0;
	&:not(.select-dropdown-radius) {
		&.ant-select-dropdown-placement-topLeft {
			border-bottom-left-radius:0;
			border-bottom-right-radius:0;
		}
		&.ant-select-dropdown-placement-bottomLeft {
			border-top-left-radius:0;
			border-top-right-radius:0;
		}
	}
	.ant-select-item {
		@include desktop_down {
			font-size:14px;
		}
	}
	.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
		color:$primary-color;
		background:transparent;
	}
	.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
		color:$primary-color;
		background:transparentize($primary-color, 0.95);
	}
	.dropdown-complement {
		a {
			display:flex;
			align-items:center;
			padding:0 28px;
			min-height:52px;
			font-size:16px;
			color:#2c2835;
			@include mobile {
				font-size:14px;
			}
			&:hover {
				color:#6a3bc2;
				background:rgba(106, 59, 194, 0.05);
			}
			span {
				flex:auto;
				overflow:hidden;
				white-space:nowrap;
				text-overflow:ellipsis;
			}
		}
	}
	&.select-dropdown-no-padding-h {
		.ant-select-item-option {
			padding-left:0;
			padding-right:0;
		}
	}
}

.ant-form-item-children {
	display:block;
}

// Radio, Checkbox
label.ant-checkbox-wrapper,
label.ant-radio-wrapper {
	@include mobile {
		font-size:14px;
	}
	.ant-checkbox,
	.ant-radio {
		top:0.35em;
		+ span {
			padding-left:10px;
			font-weight:600;
		}
	}
	.ant-checkbox-inner,
	.ant-radio-inner {
		border-color:$form-field-border-color;
	}
	.ant-checkbox-inner {
		border-radius:4px;
	}
	.ant-checkbox-disabled + span,
	.ant-radio-disabled + span {
	}
	.ant-checkbox-disabled .ant-checkbox-inner,
	.ant-radio-disabled .ant-radio-inner {
	}
}

// Fix focus
.ant-checkbox:not(.ant-checkbox-checked) .ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-radio-input:focus + .ant-radio-inner {
	border-color:$primary-color;
}

.ant-radio-wrapper {
	.ant-radio {
		&.ant-radio-checked {
			.ant-radio-inner {
				border-color:#d9d9d9;
			}
		}
	}
}

// Fix min-height radio, checkbox control
.form-item-min-height-control {
	.ant-form-item-control-input {
		min-height:42px;
	}
}

// Error
.ant-form-item-has-error {
	.ant-form-item-control {
		.ant-input-mask,
		.ant-input-mask:hover {
			border-color:#ff4d4f;
		}
		.float-label-wrap {
			.ant-input-affix-wrapper {
				border-color:#ff4d4f;
			}
		}
	}
}

/* ============================================================================
	Pages
============================================================================ */
@import "pages/home";